In [1]:
from os.path import join
from pandas import read_csv 
import pandas as pd
import torch 
from torch_geometric.data import HeteroData 
import torch_geometric.transforms as T
from datetime import date, datetime, timedelta
from torch.utils.data import Dataset
import os.path as osp
import os
import warnings

In [8]:
agg = pd.read_csv("/workspaces/TC-GNN-Explainer/Dataset/DRED/Aggregated_data.csv")
agg

/tmp/ipykernel_6147/1188156398.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  agg = pd.read_csv("/workspaces/TC-GNN-Explainer/Dataset/DRED/Aggregated_data.csv")

                         Unnamed: 0      1
0                               NaN  mains
1                               NaN    NaN
2         2015-07-05 00:00:00+02:00    NaN
3         2015-07-05 00:00:01+02:00    NaN
4         2015-07-05 00:00:02+02:00    NaN
...                             ...    ...
13301996  2015-12-05 22:59:54+01:00    NaN
13301997  2015-12-05 22:59:55+01:00    NaN
13301998  2015-12-05 22:59:56+01:00    NaN
13301999  2015-12-05 22:59:57+01:00    NaN
13302000  2015-12-05 22:59:58+01:00    NaN

[13302001 rows x 2 columns]

In [2]:
all = pd.read_csv("/workspaces/TC-GNN-Explainer/Dataset/DRED/All_data.csv")
all

:

:

In [ ]:
app = pd.read_csv("/workspaces/TC-GNN-Explainer/Dataset/DRED/Appliances_data.csv")
app